<div class="text-center">
  <div class="text-3xl text-gray-900 dark:text-white">
    <h1>New contact</h1>
  </div>
  <br>
  <div>
    <% invalid = contact.errors.include?(:name) %>
    <%= form.label :name, style: "display: block", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :name, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    <% if invalid %>
    <p style="color:red">
      <%= contact.errors.full_messages_for(:name).join(" ,") %>
    </p>
    <% end %>
  </div>
   
  <div>
    <% invalid = contact.errors.include?(:phone) %>
    <%= form.label :phone, style: "display: block", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :phone, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    <% if invalid %>
    <p style="color:red">
      <%= contact.errors.full_messages_for(:phone).join(" ,") %>
    </p>
    <% end %>
  </div>

  <br>
     <div>
    <% invalid = contact.errors.include?(:email) %>
    <%= form.label :email, style: "display: block", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :email, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    <% if invalid %>
    <p style="color:red">
      <%= contact.errors.full_messages_for(:email).join(" ,") %>
    </p>
    <% end %>
  </div>

  <br>
   <div>
    <% invalid = contact.errors.include?(:message) %>
    <%= form.label :message, style: "display: block", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :message, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    <% if invalid %>
    <p style="color:red">
      <%= contact.errors.full_messages_for(:message).join(" ,") %>
    </p>
    <% end %>
  </div>
  <br>

  <div>
    <%= form.submit class: "text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-1.5 text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-500 dark:focus:ring-green-800" %>
  </div>
</div>
