<div id="<%= dom_id apartment %>" class="post-container">
  <p>
    <%= apartment.title %>
  </p>

  <p>
    <%= apartment.description %>
  </p>

  <p>
    <%= apartment.active_date %>
  </p>

  <p>
    <%= apartment.inactive_date %>
  </p>
  <p>
  <%= link_to "Show this post" %>
  </p>
  <% apartment.images.each do |image|%>
  <%= image_tag(image, style: "object-fit: cover; width: 200px; height: 600px;") %>
  <% end %>
</div>
