<div id="<%= dom_id apartment %>" class="apartment-container">
  <% apartment.images.each do |image| %>
    <%= image_tag(image, style: "object-fit: cover; width: 250px; height: 300px; border-radius: 10px;") %>
  <% end %>
  <p class="title-text">
    <strong><%= apartment.title %></strong>
  </p>
  <p class=otherfields-text>
    <%= apartment.description %>
  </p>
  <p class=otherfields-text>
    <%= apartment.active_date %>
  </p>
  <p class=otherfields-text>
    <%= apartment.inactive_date %>
  </p>
  <p>
    <%= link_to "", apartment, class: "apartment-link" %>
  </p>
</div>
