<!-- Container principal para exibir os detalhes do apartamento -->
<div class="apartment-container <%= @centered ? 'centered' : '' %>">
  <div class="w-full">
    <div class="bg-white shadow-lg rounded px-16 pt-6 pb-8 mb-4 flex flex-col items-center">
      <p class="title-text"><strong><%= apartment.title %></strong></p>
      <p class="title-text"><strong>Hospedado por: <%= apartment.admin.name %></strong></p>
      
      <div class="flex flex-row-reverse justify-between mr-48 w-full" style="margin-bottom: 40px;">
        <%= link_to "Contact", new_apartment_contact_path(@apartment), class: "btn btn-outline-primary", style: "padding: 12px 12px; border-radius: 5px; margin-top: -50px;" %>
      </div>

      <div style="display: flex; justify-content: center; align-items: flex-start;">
        <div style="flex: 1; margin-right: 5px;">
          <% if apartment.cover.attached? %>
            <%= image_tag(url_for(apartment.cover), style: "object-fit: cover; width: 800px; height: 420px; border-radius: 10px;") %>
          <% end %>
        </div>
        <div class="grid grid-rows-2 grid-cols-2 grid-flow-col" style="flex-direction: column; justify-content: flex-start;">
          <% apartment.images.each do |image| %>
            <%= image_tag(image, style: "object-fit: cover; width: 400px; height: 210px; border-radius: 10px; margin-bottom: 5px;") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="title-text">Description: <strong><%= apartment.description %></strong></p>
