<div id="<%= dom_id apartment %>">
  <p>
    <%= apartment.title %>
  </p>

  <p>
    <%= apartment.description %>
  </p>

  <p>
    <%= apartment.active_date %>
  </p>

  <p>
    <%= apartment.inactive_date %>
  </p>

</div>
