<div class="apartment-container <%= @centered ? 'centered' : '' %>">
  <% if @show_view %>
    <p class="title-text"><strong>Hosted by: <%= apartment.admin.name %></strong></p>
    <p class="title-text"><strong><%= apartment.title %></strong></p>
    <p class="otherfields-text"><strong><%= apartment.description %></strong></p>
    <% apartment.images.each do |image| %>
      <%= image_tag(image, style: "object-fit: cover; width: 250px; height: 300px; border-radius: 10px;") %>
    <% end %>
  <% end %>
      
  <%= image_tag(url_for(apartment.cover), style: "object-fit: cover; width: 250px; height: 300px; border-radius: 10px;") if apartment.cover.attached? %>

  <% unless @show_view %>
    <p class="title-text"><strong><%= apartment.title %></strong></p>
    <p class="otherfields-text"><%= apartment.description %></p>
  <% end %>

  <p class="otherfields-text"><%= apartment.active_date %></p>
  <p class="otherfields-text"><%= apartment.inactive_date %></p>
  <p><%= link_to "", apartment, class: "apartment-link" %></p>
</div>
