<div class="apartment-container space-y-3 <%= @centered ? 'centered' : '' %>">

  <%= image_tag(url_for(apartment.cover), style: "object-fit: cover; width: 250px; height: 300px; border-radius: 10px;") if apartment.cover.attached? %>
  <p class="title-text"><strong><%= apartment.title %></strong></p>
  <p class="otherfields-text"><%= apartment.formatted_active_date %></p>
  <p class="otherfields-text"><%= apartment.formatted_inactive_date %></p>
  <p><%= link_to "", apartment, class: "apartment-link" %></p>
</div>
