<% @centered = true %>
<%= stylesheet_link_tag "apartment" %>

<div style="text-align: center;">
  <p style="color: green;"><%= notice %></p>

  <% @show_view = true %>
  <%= render 'apartment', apartment: @apartment %>
  <% @show_view = false %>

  <br>
  <br>
  <br>

  <% if admin_signed_in? %>
    <div>
      <%= link_to "Edit this apartment", edit_admins_apartment_path(@apartment), class: "btn btn-outline-primary" %>
      <%= link_to "Back to apartments", apartments_path, class: "btn btn-outline-primary" %>
      <br>
      <br>
      <%= button_to "Destroy this apartment", admins_apartment_path, method: :delete, class: "btn btn-outline-danger" %>
    </div>
  <% end %>
</div>
