<nav class="flex-no-wrap relative flex w-full items-center justify-between bg-[#FBFBFB] py-2 shadow-md shadow-black/5 dark:bg-neutral-600 dark:shadow-black/10 lg:flex-wrap lg:justify-start lg:py-3" data-te-navbar-ref>
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <!-- Left navigation links -->
    <div class="flex items-center">
      <ul class="list-style-none mr-auto flex flex-col pl-0 lg:flex-row" data-te-navbar-nav-ref>
        <li class="nav-item" style="margin-left: 20px;"> <!-- Add margin-left here -->
          <!-- Airbnb Logo -->
          <%= link_to root_path, class: "nav-link", style: "background-color: transparent; padding: 8px 16px; border: 1px solid transparent; border-radius: 20px; transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;" do %>
            <img src="/assets/Airbnb-logo.png" alt="Airbnb Logo" style="width: 100px; height: 60px;">
          <% end %>
        </li>
      </ul>
    </div>

    <!-- Right-aligned navigation item -->
    <div class="nav-item">
      <ul class="list-style-none flex flex-col pl-0 lg:flex-row" data-te-navbar-nav-ref>
        <li class="nav-item">
          <%= link_to "Apartments", apartments_path, class: "nav-link", style: "background-color: transparent; padding: 8px 16px; border: 1px solid transparent; border-radius: 20px; transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;" %>
        </li>
        <li>
          <%= link_to "List your space on Airbnb", new_admins_apartment_path, class: "nav-link", style: "background-color: transparent; padding: 8px 16px; border: 1px solid transparent; border-radius: 20px; transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;" %>
        </li>
        <% if admin_signed_in? %>
          <li>
            <%= link_to "Sign out", destroy_admin_session_path, class: "nav-link", style: "background-color: transparent; padding: 8px 16px; border: 1px solid transparent; border-radius: 20px; transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign up", new_admin_session_path, class: "nav-link", style: "background-color: transparent; padding: 8px 16px; border: 1px solid transparent; border-radius: 20px; transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
